#Build the docker image
#push the docker image to docker hub
#shh into our VM and start the new image
name: Deploy on Vm

on:
  push:
    branches:
      - main
jobs:
    push-to-dockerhub:
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: push to dockerhub
          uses: docker/login-action@v3
          with:
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_PASSWORD}}
        - name: build and push-image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: docker/Dockerfile.fe
            build-args: 
              - DATABASE_URL=${{secrets.DATABASE_URL}}
            push: true
            tags: ${{secrets.DOCKERHUB_USERNAME}}/testdeploy:${{github.sha}}
   # deploy:
     #  runs-on: ubuntu-latest

     #  steps:
      #   - name: checkout
       #    uses: actions/checkout@v4

        # - name: deploy  on vm
        #   uses: appleboy/ssh-action@v1.0.3
        #   with:
        #     host: ${{secrets.githubAction.ip}}
        #     root: root
         #    key: ${{secrets.github_key}}
        #     script: |
         #      git pull ${{ secrets.DOCKERHUB_USERNAME }}/image_name:latest
          #     cd usr/src/app/deploy 
          #     docker compose up -d
    
    